body {
    margin:0;
    font-family: Arial, sans-serif;
    background:#FF8000;
    color:white;
}


header {
    text-align:center;
    padding:25px;
    background:white;
    color:#FF8000;
    font-size:30px;
    font-weight:900;
}



.layout {
    display:flex;
    min-height:100vh;
}



.sidebar {

    width:250px;
    background:#20725f;
    padding:20px;

}



.characterButton {

    width:100%;
    margin:7px 0;
    padding:12px;

    border:none;
    border-radius:20px;

    background:white;
    color:#20725f;

    font-weight:bold;

    cursor:pointer;

}



.characterButton:hover {

    transform:scale(1.05);

}



main {

    flex:1;
    padding:30px;

}




#familyTree {

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:30px;

}



.treeNode {

    text-align:center;
    cursor:pointer;

}



.treeNode img {


    width:70px;
    height:70px;

    object-fit:cover;

    border-radius:50%;

    border:3px solid white;

}



.treeNode p {

    font-weight:bold;

}




.profileCard {


    background:white;

    color:#333;

    border-radius:25px;

    padding:30px;

    max-width:500px;

}



.profilePhoto {


    width:200px;

    height:200px;

    border-radius:50%;

    object-fit:cover;

}

.tree {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 50px;
}


.generation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


.treeNode {
    text-align: center;
    cursor: pointer;
}


.treeNode img {
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid white;
}


.treeName {
    margin-top:8px;
    font-size:14px;
    font-weight:bold;
}


.partner {
    opacity:0.8;
}


.ex {
    filter:grayscale(100%);
    opacity:0.65;
}


.line {
    width:2px;
    height:40px;
    background:white;
}
